@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.spinner-container {
  .icon {
    color: rgb(81, 80, 80);
    font-size: 50px;
    animation: spin .8s infinite;
  }
}