<div class="row mx-0 py-2">
  <div class="col-1">
    <div class="row">
      <div class="col-12">
        <!-- <img [src]="productData['image']" alt="product-image" class="product-image small"> -->
        <img src="../../../assets/images/" alt="">
      </div>
      <!-- <div class="col-12">
        <img src="" alt="">
      </div> -->
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <img [src]="productData['image']" alt="product-image" class="product-image large">
      </div>
  </div>

  <div class="col">
    <div class="row">
      <!-- <div class="card-deck col-6 col-md-3 mb-3" *ngFor="let product of productsList">
        <app-product-card [productData]="product" [wishlistBtnRequired]="true" [mainBtnText]="'Add to cart'" 
          (manageProductForWishlist)="manageProductForWishlist($event)" 
          (addToCartEvent)="addProductToCart($event)">
        </app-product-card>
      </div> -->
    </div>
  </div>

  <div *ngIf="showSpinner">
    <app-spinner></app-spinner>
  </div>
</div>