<div class="header">
  <div class="row mx-0 min-header">
    <div class="pull-left">
      <a href="#">Offers</a>
      <a href="#">Fanbook</a>
      <a href="#" class="icon"><i class="list-icon fa fa-mobile"></i> Download App</a>
      <a href="#">TriBe Membership</a>
    </div>

    <div class="pull-right">
      <a href="#">Contact Us</a>
      <a href="#">Track Order</a>
    </div>
  </div>

  <div class="row mx-0 main-header">
    <div class="pull-left">
      <a href="" class="brand-logo"><h4>The Modern Tribe</h4></a>
    </div>
    <div class="pull-right">
      <div class="input-container">
        <input type="text" name="search" class="form-control"
          placeholder="Search by product, category or collection" id="">
      </div>
      <a href="" routerLink = "login" routerLinkActive="active">Login</a>
      <a class="icon" routerLink="wishlist" routerLinkActive="active"><i class="list-icon icon fa fa-heart"></i></a>
      <a class="icon" routerLink="cart" routerLinkActive="active"><i class="list-icon icon fa fa-shopping-cart"></i></a>
    </div>

  </div>
</div>